@import "base/fonts";
@import "base/root";
@import "base/global";

@import "blocks/visually-hidden";
@import "blocks/wrapper";
@import "blocks/container";
@import "blocks/button";
@import "blocks/title";
@import "blocks/custom-form";
@import "blocks/card-item";
@import "blocks/section";
@import "blocks/scalable-picture";
@import "blocks/mini-card";
@import "blocks/creative-title";
@import "blocks/big-image";
@import "blocks/reviews-card";
@import "blocks/decorate-wrapper";
@import "blocks/social-list";
@import "blocks/swiper";
@import "blocks/custom-map";
@import "blocks/direction-card";
@import "blocks/main-navigation";
@import "blocks/main";
@import "blocks/content-with-sidebar";
@import "blocks/accordion";
@import "blocks/sidebar-scroll";
@import "blocks/pin";
@import "blocks/breadcrumbs";
@import "blocks/decorative-list";
@import "blocks/tag-list";
@import "blocks/pagination";

@import "sections/header";
@import "sections/home-screen";
@import "sections/content";
@import "sections/card-slider";
@import "sections/catalog-directions";
@import "sections/catalog-announce";
@import "sections/advances";
@import "sections/reviews";
@import "sections/map";
@import "sections/modal";
@import "sections/hero-image";
@import "sections/docs";

@import "sections/footer";

@import "pages/home-page";

@import "activity/modal-show";

/* Стилизация для всей полосы прокрутки */
::-webkit-scrollbar {
  width: 3px; /* ширина полосы прокрутки */
  border-radius: 4.5px;
}

/* Стилизация дорожки прокрутки */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1; /* цвет фона дорожки */
// }

/* Стилизация бегунка прокрутки */
::-webkit-scrollbar-thumb {
  background: var(--DarkGreen); /* зеленый цвет бегунка */
}

/* Стилизация бегунка прокрутки при наведении */
::-webkit-scrollbar-thumb:hover {
  background: var(--VibrantGreen); /* более темный оттенок зеленого при наведении */
}

.full-image {
  max-width: 100%;
  width: 100%;

  img {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

.card-grid {
  display: grid;
  gap: 140px 30px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
}

// @import "pages/search-page";

// @import "activity/scroll";
// @import "activity/menu-accordion-active";
// @import "activity/menu-open";
// @import "activity/header-sticky";
// @import "activity/header-search-active";
