.home-screen {
  background-color: #78a9c5;
  overflow: hidden;
  position: relative;
  .wrapper {
    position: relative;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  &__slide {
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    padding: 150px 0;
    display: flex;
    align-items: center;
    position: relative;
    &::before {
      content: "";
        display: block;
        position: absolute;
        width: 965px;
        height: calc(100vh + 40px);
        top: -40px;
        right: -15px;
        bottom: 0;
        background-image: url(../img/home-screen/bg-vector.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
  }
  &__content {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
    position: relative;
    z-index: 2;
  }
  &__title {
    color: var(--White);
    font-size: 64px;
    text-wrap: balance;
    line-height: 1;
  }
  &__text {
    color: var(--White);
    margin: 0;
    margin-bottom: 40px;
    text-wrap: balance;
    font-size: 32px;
  }
  &__link {
    color: var(--White);
    position: relative;
    display: flex;
    align-items: center;
    font-size: 32px;
    &::after {
      content: '';
      display: block;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='171' height='9' fill='none'%3e%3cpath fill='%23fff' d='M170.354 4.854a.5.5 0 0 0 0-.708L167.172.964a.501.501 0 0 0-.708.708l2.829 2.828-2.829 2.828a.5.5 0 0 0 .708.708l3.182-3.182ZM0 5h170V4H0v1Z'/%3e%3c/svg%3e");
      width: 171px;
      height: 10px;
      flex-shrink: 0;
      margin-left: 60px;
    }
  }

  @media (min-width: 1921px) {
    .home-screen__slide::before {
      right: 7%;
      bottom: 0;
      height: 110%;
      background-size: contain;
    }
  }
}
