:root {
  --Font-1: 'Circe';

  --White: #ffffff;
  --Black: #000000;

  --LightGray: #F5F5F5;     // Светло-серый
  --MediumGray: #E5E5E5;    // Средний серый
  --SoftGreenGray: #EFF3F0; // Мягкий зеленовато-серый

  --VibrantGreen: #2A8D3E;  // Яркий зеленый
  --DarkGreen: #006634;     // Темно-зеленый


}
