.pin {
  position: absolute;
  // z-index: 2;
}

.custom-map__hints-item {
  position: absolute;
  width: 370px;
  top: -235px;
  left: 0;
  z-index: 10;
}
.custom-map__icon {
  z-index: 2;
}

.pin-1 {
  top: 335px;
  left: 155px;
}

.pin-2 {
  top: 365px;
  left: 330px;
}

.pin-3 {
  top: 395px;
  left: 590px;
}

.pin-4 {
  top: 180px;
  left: 765px;
}
