.team-card {
  &__image {
    border-radius: 10px;
    overflow: hidden;
    background:
      url(<path-to-image>),
      lightgray -30.704px 0px / 179.779% 100% no-repeat;
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 60px;
  }
  &__name {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 15px;
  }
}

.team-card--decorate {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    flex-shrink: 0;
    display: block;
  }
}
