.wrapper {
  max-width: calc(1760px + 40px + 40px);
  padding-inline: 40px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 1921px) {
    max-width: 80%;
    padding-inline: 5%;
  }

  @media (max-width: 1750px) {
    max-width: 100%;
    padding: 0 10px;
  }
}
